* {
  margin: 0;
  padding: 0;
}
#myInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 20px;
  margin-left: 40px;
  width: 400px;
}
#myInput:focus {
  outline: none;
  border-color: #007DB0;
  box-shadow: 0 0 8px #007DB0;
}
header {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .logo-content {
  display: flex;
  align-items: center;
}
header .logo-content .logo {
  background-image: url('../images/logo.png');
  background-size: cover;
  height: 100px;
  width: 100px;
}
header .logo-content p {
  color: #007DB0;
  font-weight: bold;
  text-transform: capitalize;
  font-style: italic;
  font-size: 30px;
}
header nav {
  display: flex;
  justify-content: space-around;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
header nav ul li {
  margin-right: 40px;
  font-size: 18px;
}
header nav ul li a {
  text-decoration: none;
  color: #5c5b5b;
}
header nav ul li a:hover {
  color: #007DB0;
}
header button {
  background: #007DB0;
  justify-self: right;
  color: whitesmoke;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 30px;
}
header button:hover {
  background: #026d97;
}
main {
  margin: 80px;
  /* -- import Roboto Font ---------------------------- */
  /* -- You can use this tables in Bootstrap (v3) projects. -- */
  /* -- Box model ------------------------------- */
  /* -- Demo style ------------------------------- */
  /* -- Material Design Table style -------------- */
}
main h1 {
  margin: 40px;
  color: #007DB0;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOiCnqEu92Fr1Mu51QrEzQdKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TjASc-CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xMIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51S7ACc-CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic-CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TLBCc-CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxMIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfABc9.ttf) format('truetype');
}
main *,
main *:after,
main *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
main #demo {
  margin: 20px auto;
  max-width: 960px;
}
main #demo h1 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0;
  font-weight: 300;
  color: #212121;
  text-transform: inherit;
  margin-bottom: 1rem;
  text-align: center;
}
main #demo h2 {
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: #212121;
  text-align: center;
}
main .shadow-z-1 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
main .table {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
}
main .table > thead > tr,
main .table > tbody > tr,
main .table > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
main .table > thead > tr > th,
main .table > tbody > tr > th,
main .table > tfoot > tr > th,
main .table > thead > tr > td,
main .table > tbody > tr > td,
main .table > tfoot > tr > td {
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
main .table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
main .table > caption + thead > tr:first-child > th,
main .table > colgroup + thead > tr:first-child > th,
main .table > thead:first-child > tr:first-child > th,
main .table > caption + thead > tr:first-child > td,
main .table > colgroup + thead > tr:first-child > td,
main .table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
main .table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
main .table .table {
  background-color: #fff;
}
main .table .no-border {
  border: 0;
}
main .table-condensed > thead > tr > th,
main .table-condensed > tbody > tr > th,
main .table-condensed > tfoot > tr > th,
main .table-condensed > thead > tr > td,
main .table-condensed > tbody > tr > td,
main .table-condensed > tfoot > tr > td {
  padding: 1.6rem/2;
}
main .table-bordered {
  border: 0;
}
main .table-bordered > thead > tr > th,
main .table-bordered > tbody > tr > th,
main .table-bordered > tfoot > tr > th,
main .table-bordered > thead > tr > td,
main .table-bordered > tbody > tr > td,
main .table-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
main .table-bordered > thead > tr > th,
main .table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
main .table-striped > tbody > tr:nth-child(odd) > td,
main .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5;
}
main .table-hover > tbody > tr:hover > td,
main .table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 768px) {
  main .table-responsive-vertical > .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  main .table-responsive-vertical > .table > thead,
  main .table-responsive-vertical > .table > tfoot {
    display: none;
  }
  main .table-responsive-vertical > .table > tbody {
    display: block;
  }
  main .table-responsive-vertical > .table > tbody > tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.6rem;
  }
  main .table-responsive-vertical > .table > tbody > tr > td {
    background-color: #fff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }
  main .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
  }
  main .table-responsive-vertical.shadow-z-1 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  main .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
    border: none;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  }
  main .table-responsive-vertical > .table-bordered {
    border: 0;
  }
  main .table-responsive-vertical > .table-bordered > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }
  main .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
    border-bottom: 0;
  }
  main .table-responsive-vertical > .table-striped > tbody > tr > td,
  main .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5;
  }
  main .table-responsive-vertical > .table-hover > tbody > tr:hover > td,
  main .table-responsive-vertical > .table-hover > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
main .table-striped.table-mc-red > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-red > tbody > tr:nth-child(odd) > th {
  background-color: #fde0dc;
}
main .table-hover.table-mc-red > tbody > tr:hover > td,
main .table-hover.table-mc-red > tbody > tr:hover > th {
  background-color: #f9bdbb;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-red > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-red > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-red > tbody > tr > td:nth-child(odd) {
    background-color: #fde0dc;
  }
  main .table-responsive-vertical .table-hover.table-mc-red > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-red > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-red > tbody > tr > td:hover {
    background-color: #f9bdbb;
  }
}
main .table-striped.table-mc-pink > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-pink > tbody > tr:nth-child(odd) > th {
  background-color: #fce4ec;
}
main .table-hover.table-mc-pink > tbody > tr:hover > td,
main .table-hover.table-mc-pink > tbody > tr:hover > th {
  background-color: #f8bbd0;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-pink > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-pink > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-pink > tbody > tr > td:nth-child(odd) {
    background-color: #fce4ec;
  }
  main .table-responsive-vertical .table-hover.table-mc-pink > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-pink > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-pink > tbody > tr > td:hover {
    background-color: #f8bbd0;
  }
}
main .table-striped.table-mc-purple > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-purple > tbody > tr:nth-child(odd) > th {
  background-color: #f3e5f5;
}
main .table-hover.table-mc-purple > tbody > tr:hover > td,
main .table-hover.table-mc-purple > tbody > tr:hover > th {
  background-color: #e1bee7;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-purple > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-purple > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-purple > tbody > tr > td:nth-child(odd) {
    background-color: #f3e5f5;
  }
  main .table-responsive-vertical .table-hover.table-mc-purple > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-purple > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-purple > tbody > tr > td:hover {
    background-color: #e1bee7;
  }
}
main .table-striped.table-mc-deep-purple > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-deep-purple > tbody > tr:nth-child(odd) > th {
  background-color: #ede7f6;
}
main .table-hover.table-mc-deep-purple > tbody > tr:hover > td,
main .table-hover.table-mc-deep-purple > tbody > tr:hover > th {
  background-color: #d1c4e9;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-deep-purple > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-deep-purple > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-deep-purple > tbody > tr > td:nth-child(odd) {
    background-color: #ede7f6;
  }
  main .table-responsive-vertical .table-hover.table-mc-deep-purple > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-deep-purple > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-deep-purple > tbody > tr > td:hover {
    background-color: #d1c4e9;
  }
}
main .table-striped.table-mc-indigo > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-indigo > tbody > tr:nth-child(odd) > th {
  background-color: #e8eaf6;
}
main .table-hover.table-mc-indigo > tbody > tr:hover > td,
main .table-hover.table-mc-indigo > tbody > tr:hover > th {
  background-color: #c5cae9;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-indigo > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-indigo > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-indigo > tbody > tr > td:nth-child(odd) {
    background-color: #e8eaf6;
  }
  main .table-responsive-vertical .table-hover.table-mc-indigo > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-indigo > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-indigo > tbody > tr > td:hover {
    background-color: #c5cae9;
  }
}
main .table-striped.table-mc-blue > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-blue > tbody > tr:nth-child(odd) > th {
  background-color: #e7e9fd;
}
main .table-hover.table-mc-blue > tbody > tr:hover > td,
main .table-hover.table-mc-blue > tbody > tr:hover > th {
  background-color: #d0d9ff;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-blue > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-blue > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-blue > tbody > tr > td:nth-child(odd) {
    background-color: #e7e9fd;
  }
  main .table-responsive-vertical .table-hover.table-mc-blue > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-blue > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-blue > tbody > tr > td:hover {
    background-color: #d0d9ff;
  }
}
main .table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > th {
  background-color: #e1f5fe;
}
main .table-hover.table-mc-light-blue > tbody > tr:hover > td,
main .table-hover.table-mc-light-blue > tbody > tr:hover > th {
  background-color: #b3e5fc;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td:nth-child(odd) {
    background-color: #e1f5fe;
  }
  main .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr > td:hover {
    background-color: #b3e5fc;
  }
}
main .table-striped.table-mc-cyan > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-cyan > tbody > tr:nth-child(odd) > th {
  background-color: #e0f7fa;
}
main .table-hover.table-mc-cyan > tbody > tr:hover > td,
main .table-hover.table-mc-cyan > tbody > tr:hover > th {
  background-color: #b2ebf2;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-cyan > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-cyan > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-cyan > tbody > tr > td:nth-child(odd) {
    background-color: #e0f7fa;
  }
  main .table-responsive-vertical .table-hover.table-mc-cyan > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-cyan > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-cyan > tbody > tr > td:hover {
    background-color: #b2ebf2;
  }
}
main .table-striped.table-mc-teal > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-teal > tbody > tr:nth-child(odd) > th {
  background-color: #e0f2f1;
}
main .table-hover.table-mc-teal > tbody > tr:hover > td,
main .table-hover.table-mc-teal > tbody > tr:hover > th {
  background-color: #b2dfdb;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-teal > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-teal > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-teal > tbody > tr > td:nth-child(odd) {
    background-color: #e0f2f1;
  }
  main .table-responsive-vertical .table-hover.table-mc-teal > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-teal > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-teal > tbody > tr > td:hover {
    background-color: #b2dfdb;
  }
}
main .table-striped.table-mc-green > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-green > tbody > tr:nth-child(odd) > th {
  background-color: #d0f8ce;
}
main .table-hover.table-mc-green > tbody > tr:hover > td,
main .table-hover.table-mc-green > tbody > tr:hover > th {
  background-color: #a3e9a4;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-green > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-green > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-green > tbody > tr > td:nth-child(odd) {
    background-color: #d0f8ce;
  }
  main .table-responsive-vertical .table-hover.table-mc-green > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-green > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-green > tbody > tr > td:hover {
    background-color: #a3e9a4;
  }
}
main .table-striped.table-mc-light-green > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-light-green > tbody > tr:nth-child(odd) > th {
  background-color: #f1f8e9;
}
main .table-hover.table-mc-light-green > tbody > tr:hover > td,
main .table-hover.table-mc-light-green > tbody > tr:hover > th {
  background-color: #dcedc8;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-light-green > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-light-green > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-light-green > tbody > tr > td:nth-child(odd) {
    background-color: #f1f8e9;
  }
  main .table-responsive-vertical .table-hover.table-mc-light-green > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-light-green > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-light-green > tbody > tr > td:hover {
    background-color: #dcedc8;
  }
}
main .table-striped.table-mc-lime > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-lime > tbody > tr:nth-child(odd) > th {
  background-color: #f9fbe7;
}
main .table-hover.table-mc-lime > tbody > tr:hover > td,
main .table-hover.table-mc-lime > tbody > tr:hover > th {
  background-color: #f0f4c3;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-lime > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-lime > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-lime > tbody > tr > td:nth-child(odd) {
    background-color: #f9fbe7;
  }
  main .table-responsive-vertical .table-hover.table-mc-lime > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-lime > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-lime > tbody > tr > td:hover {
    background-color: #f0f4c3;
  }
}
main .table-striped.table-mc-yellow > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-yellow > tbody > tr:nth-child(odd) > th {
  background-color: #fffde7;
}
main .table-hover.table-mc-yellow > tbody > tr:hover > td,
main .table-hover.table-mc-yellow > tbody > tr:hover > th {
  background-color: #fff9c4;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-yellow > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-yellow > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-yellow > tbody > tr > td:nth-child(odd) {
    background-color: #fffde7;
  }
  main .table-responsive-vertical .table-hover.table-mc-yellow > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-yellow > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-yellow > tbody > tr > td:hover {
    background-color: #fff9c4;
  }
}
main .table-striped.table-mc-amber > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-amber > tbody > tr:nth-child(odd) > th {
  background-color: #fff8e1;
}
main .table-hover.table-mc-amber > tbody > tr:hover > td,
main .table-hover.table-mc-amber > tbody > tr:hover > th {
  background-color: #ffecb3;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-amber > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-amber > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-amber > tbody > tr > td:nth-child(odd) {
    background-color: #fff8e1;
  }
  main .table-responsive-vertical .table-hover.table-mc-amber > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-amber > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-amber > tbody > tr > td:hover {
    background-color: #ffecb3;
  }
}
main .table-striped.table-mc-orange > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-orange > tbody > tr:nth-child(odd) > th {
  background-color: #fff3e0;
}
main .table-hover.table-mc-orange > tbody > tr:hover > td,
main .table-hover.table-mc-orange > tbody > tr:hover > th {
  background-color: #ffe0b2;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-orange > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-orange > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-orange > tbody > tr > td:nth-child(odd) {
    background-color: #fff3e0;
  }
  main .table-responsive-vertical .table-hover.table-mc-orange > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-orange > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-orange > tbody > tr > td:hover {
    background-color: #ffe0b2;
  }
}
main .table-striped.table-mc-deep-orange > tbody > tr:nth-child(odd) > td,
main .table-striped.table-mc-deep-orange > tbody > tr:nth-child(odd) > th {
  background-color: #fbe9e7;
}
main .table-hover.table-mc-deep-orange > tbody > tr:hover > td,
main .table-hover.table-mc-deep-orange > tbody > tr:hover > th {
  background-color: #ffccbc;
}
@media screen and (max-width: 767px) {
  main .table-responsive-vertical .table-striped.table-mc-deep-orange > tbody > tr > td,
  main .table-responsive-vertical .table-striped.table-mc-deep-orange > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-striped.table-mc-deep-orange > tbody > tr > td:nth-child(odd) {
    background-color: #fbe9e7;
  }
  main .table-responsive-vertical .table-hover.table-mc-deep-orange > tbody > tr:hover > td,
  main .table-responsive-vertical .table-hover.table-mc-deep-orange > tbody > tr:hover {
    background-color: #fff;
  }
  main .table-responsive-vertical .table-hover.table-mc-deep-orange > tbody > tr > td:hover {
    background-color: #ffccbc;
  }
}
